<div class="container" >
    <div class="row " style="margin-top: 20px;" >
        <div class="col">
        <form class="d-flex"  [formGroup]="searchFromGroup" (ngSubmit)="searchAccount()" >
            <input class="form-control me-2" formControlName="accountId" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">
                <i class="bi bi-search"></i></button>
        </form>
    
        
        <ng-template #errortemplate>
            <ng-container *ngIf="errorMessage; else loading">
                <div  class="text-danger">
                    {{errorMessage}}
                </div>
            </ng-container>
        <ng-template #loading>
            Loading ...
        </ng-template>
        </ng-template>
<ng-container *ngIf="accountObserv  | async as account">
<p><b>Account id : </b>{{account.accountId}}</p>
<p><b>Balance : </b>{{account.balance | number:'1.2-2'}}</p>
<table class="table table-hover" >
    <thead>
        <tr>
            <th>id</th>
            <th>operationDate</th>
            <th>amount</th>
            <th>type</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let accdetail of account.accountOperationDTO">
            <td>{{accdetail.id}}</td>
            <td>{{accdetail.operationDate | date:'dd-MM-yyyy:hh-mm-ss'}}</td>
            <td>{{accdetail.amount |number:'1.2-2'}}</td>
            <td>{{accdetail.type}}</td>
        </tr>
    </tbody>
</table>
<nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item" [ngClass]="(page==account.currentPage)?'active':'btn-outline-info'" *ngFor="let pages of [].constructor(account.totalPages) ;let page=index">
        <a class="page-link"  (click)="gotoPage(page)" >{{page+1}}</a>
    </li>
    </ul>
  </nav>
</ng-container>
</div>
<div class="col" >
    <div *ngIf="accountObserv">
    <form [formGroup]="operationFrom" (ngSubmit)="addAccountOper()" method="post">

        <input formControlName="operationType" value="debit" class="form-check-input" type="radio" name="operationType" id="gridRadios1"  >
        <label class="form-check-label"  style="margin-right: 20px;" for="gridRadios1">
           Debit
        </label>
        <input formControlName="operationType" value="credit" class="form-check-input" type="radio" name="operationType" id="gridRadios2"  >
        <label class="form-check-label" style="margin-right: 20px;" for="gridRadios2">
           Credit
        </label>
        <input formControlName="operationType" value="transfer" class="form-check-input" type="radio" name="operationType" id="gridRadios3"  >
        <label class="form-check-label"  style="margin-right: 20px;" for="gridRadios3">
           Transfer
        </label><br><br>
    <div *ngIf="operationFrom.value.operationType=='transfer'">
        <label for="accountdest" class="form-label">Account destination :</label>
        <input type="text" formControlName="accountDestination" class="form-control" id="accountdest">
    </div>
        <label for="amount" class="form-label">Amount :</label>
        <input type="number" formControlName="amount" class="form-control" id="amount">

        <label for="description" class="form-label">Description :</label>
        <input type="text" formControlName="description" class="form-control" id="description">

        <div class="d-grid" style="margin-top: 15px;">
        <button class="btn btn-success ">Save operations</button>
    </div>
    </form>
</div>

    </div>

    </div>
</div>
